# PHPStan Configuration - Ignore False Positives
# These are warnings from static analysis that don't affect runtime

parameters:
    ignoreErrors:
        # Laravel Request dynamic properties
        - '#Undefined property: (Illuminate\\Http\\)?Request::\$(date_from|date_to|status|insurance_id|user_id|code_type|code|request_id|redirect_to|redirect_route|attributes)#'
        
        # Laravel Request magic methods (these exist at runtime)
        - '#Undefined method.*Request::ajax\(\)#'
        - '#Undefined method.*Request::input\(\)#'
        - '#Undefined method.*Request::get\(\)#'
        - '#Undefined method.*Request::expectsJson\(\)#'
        - '#Undefined method.*Request::wantsJson\(\)#'
        
        # Auth user dynamic properties
        - '#Undefined property: .*Authenticatable::\$id#'
        
        # Model dynamic properties (defined in fillable/casts)
        - '#Undefined property: .*InsuranceRequest::\$identity_number#'
        
        # CSS compatibility warnings (not PHP issues)
        - '#orphans.*not supported#'
        - '#widows.*not supported#'

    level: 5
    paths:
        - app
        - routes
    
    excludePaths:
        - vendor
        - storage
        - bootstrap/cache
